<html>
    <head>
        <title>Your Tales</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">    
    </head>
    <body>
        <div class="ui top fixed inverted menu ">
  <div class="item">
    <i class="bus icon"></i>
  </div>
  <a class="item" href="/blogs">Your Tales</a>
  <a class="item" href="/blogs">Home</a>
  <a class="item" href="/blogs/new">New Tale</a>
</div>